
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Light.woff2') format('woff2'),
    url('../fonts/OpenSans-Light.woff') format('woff'),
    url('../fonts/OpenSans-Light.ttf') format('truetype'),
    url('../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSansLight-Italic.eot');
    src: url('../fonts/OpenSansLight-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSansLight-Italic.woff2') format('woff2'),
    url('../fonts/OpenSansLight-Italic.woff') format('woff'),
    url('../fonts/OpenSansLight-Italic.ttf') format('truetype'),
    url('../fonts/OpenSansLight-Italic.svg#OpenSansLight-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans.eot');
    src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans.woff2') format('woff2'),
    url('../fonts/OpenSans.woff') format('woff'),
    url('../fonts/OpenSans.ttf') format('truetype'),
    url('../fonts/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic.eot');
    src: url('../fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Italic.woff2') format('woff2'),
    url('../fonts/OpenSans-Italic.woff') format('woff'),
    url('../fonts/OpenSans-Italic.ttf') format('truetype'),
    url('../fonts/OpenSans-Italic.svg#OpenSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff'),
    url('../fonts/OpenSans-Bold.ttf') format('truetype'),
    url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

html,body {height: 100%; }
body {font-family: 'Open Sans';font-size: 16px;color:#000;}


p {font-size: 14px;margin: 0 0 12px;}
a {}
.title {}
.title h2 {}

ul,li {list-style: none;}
img {max-width: 100%;}
a {text-decoration: none;}
* {box-sizing: border-box;-moz-box-sizing: border-box;}

hr {border-bottom: 1px solid #ccc;margin: 20px 0;}



input.form-control {    width: auto;
    padding: 0 10px;
}

.flexcenter {
	display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-flex-direction: row;-ms-flex-direction: row;flex-direction: row;-webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;flex-wrap: nowrap;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;-webkit-align-content: center;
    -ms-flex-line-pack: center;align-content: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clear {clear: both;}

/* background: url("../img/icon.png") center center / cover no-repeat; */
/* margin-left: 50%;transform: translateX(-50%); */



.main {overflow: hidden;position: relative;z-index: 0;}

.main_wrapper {width: 100%;height: 100vh;max-width: 100%;margin: 0 auto;
    display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;
    -webkit-flex-wrap: nowrap;-ms-flex-wrap: nowrap;flex-wrap: nowrap;-webkit-justify-content: space-between;-ms-flex-pack: justify;
    justify-content: space-between;-webkit-align-content: stretch;-ms-flex-line-pack: stretch;align-content: stretch;
    -webkit-align-items: flex-start;-ms-flex-align: start;align-items: flex-start;
}
.wrapper {width: 100%;}

.container {width: 1200px;margin:0 auto;max-width: 100%;}


h1 {
    font-size: 28px;
    margin: 0 auto 12px;
    padding: 0;
}
h2 {
    margin: 24px 0 12px;
    font-size: 24px;
    line-height: 32px;
    position: relative;
}
h4 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}

a:visited {
    color: #551a8b;
}
a:link {
    color: #0059b2;
}
a:hover, a:active {
    color: #ba1000;
    text-decoration: underline;
}

.main .syntaxhighlighter {overflow: visible !important;}
.main .syntaxhighlighter .toolbar {display: none !important;}


.mist {}
.mist__top {padding: 20px 0 0px;}
.mist__top p {display: inline-block;cursor: pointer;}
.mist__top p:hover {box-shadow: 0px 1px 0px #333;}
.mist__bot {display: none;padding: 15px 10px 20px;}



.linear {border: 3px solid #f5f2f0;border-radius: 6px;padding: 24px 24px 20px;margin-bottom: 40px;}
code {padding: 2px 4px;background: #f5f2f0;font-weight: 600;}

.ul_num {counter-reset: list1;font-size: 14px;margin-bottom: 20px;}
.ul_num li {padding-left: 18px;position: relative;}
.ul_num li:before {
    counter-increment: list1;
    content: counter(list1) ".";
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 13px;
    color: #000;
}

table.my_table {}
table.my_table tr {border-bottom: 1px solid #ccc;}
table.my_table th,
table.my_table td {padding: 2px 5px;text-align: center;min-width: 125px;}
table.my_table.table__left th {text-align: left;}
table.my_table.table__left td {text-align: left;}



.frontpage-content__part {
    display: inline-block;
    margin-bottom: 12px;
    box-sizing: border-box;
    background-color: #9b6b6b;
    border-radius: 12px;
    font-size: 12px;
    line-height: 14px;
    padding: 3px 8px;
    text-transform: uppercase;
    text-align: center;
    color: #fff
}

.frontpage-content__title {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 28px;
    color: #404040
}



.wrapper .list {
    counter-reset: a;
    padding: 0;
    margin: 0
}

.wrapper .list__title {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 8px;
    margin-bottom: 16px
}

.wrapper .list__link {
    color: #373636
}

.wrapper .list__item {
    list-style: none;
    counter-increment: a
}

.wrapper .list__item:last-child .list-sub {
    margin-bottom: 0
}

.wrapper .list-sub {
    padding: 0;
    margin: 0;
    counter-reset: b;
    margin-bottom: 24px;
    list-style-type: none;
    -webkit-column-gap: 10px;
    column-gap: 10px;
    -webkit-columns: 3;
    columns: 3
}

@media (max-width: 840px) {
    .wrapper .list-sub {
        -webkit-columns: 2;
        columns: 2
    }
}

@media (max-width: 568px) {
    .wrapper .list-sub {
        -webkit-columns: 1;
        columns: 1
    }
}

.wrapper .list-sub__title {
    position: relative;
    padding-left: 38px;
    margin-bottom: 2px
}

.wrapper .list-sub__title:before {
    position: absolute;
    top: 4px;
    left: 0;
    font-size: 12px;
    line-height: 16px;
    content: counter(a) "." counter(b)
}

.wrapper .list-sub__link {
    font-size: 16px;
    line-height: 23px
}

.wrapper .list-sub__item {
    counter-increment: b;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
    margin: 0
}

.wrapper .list-sub__item:before {
    content: ""
}

@media (max-width: 568px) {
    .wrapper .list-sub__item_phone_hidden {
        display: none
    }
}

.wrapper .list-sub__more {
    cursor: pointer;
    display: none;
    margin-left: 38px;
    font-size: 16px;
    line-height: 23px
}

@media (max-width: 568px) {
    .wrapper .list-sub__more {
        display: inline-block
    }
}

table, table * {border: 1px solid #ccc;border-collapse: collapse; }
table th, table td {padding: 1px 10px;}


.nav_bar {position: fixed;top:0px;left:0;width: calc((100% - 1200px) / 2 - 50px);border: 1px solid #ccc;border-radius: 3px;padding: 20px 20px 20px;}
.nav_bar p {}
.nav_bar ul {padding-left: 0;}
.nav_bar ul li {margin-bottom: 10px;}
.nav_bar ul li a {color: #0059b2;font-size: 16px;line-height: 23px;text-decoration: none;}
.nav_bar ul li a:hover {text-decoration: underline;}


.break_list {position: fixed;top:10px;left:10px;z-index: 999;}
.break_list a {color:red;text-decoration: none;}
.break_list a:hover {color:blue;}