.start {
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	margin: 0px 25px;
	width: 25vw;
	max-width: 1000px;
	min-width: 400px;
}

.instructions {
	width: 100%;
	margin: 20px 0px;
}