.start {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    margin: 0px 25px;
    min-width: 35vw;
}

.instructions {
    width: 100%;
    margin: 20px 0px;
}

.list__hero {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.hero {
    width: 100px;
}

.hero:hover {
    outline: 3px solid #0000002e;
}


.active__hero {
    outline: 3px solid var(--button-color);
}