./.env
./.editorconfig
./.eslintignore
./.eslintrc.json
./.git
./.gitignore
./.stylelintrc.js
./Dockerfile
./dist/*
./jest.config.js
./mocks
./node_modules
./package-lock.json
./template.env
./.github