./.editorconfig
./.eslintignore
./.eslintrc.json
./.git
./.gitignore
./.stylelintrc.js
./Dockerfile
./dist/*
./docker/data/*
./docker-compose.yaml
./jest.config.js
./mocks
./node_modules
./package-lock.json
./template.env
