<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset="utf-8" />
        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>Вход</title>

        <link rel="icon" href="" type="image/x-icon" />

        <link rel="stylesheet" href="css/resetNormalize.css" type="text/css" />
        <link rel="stylesheet" href="css/style.css" type="text/css" />

    </head>

    <body>

        <main class="main">
            <div class="content">
                <div class="titlePage">Вход</div>
                <form class="form">
                    <div class="form_line">
                        <input class="input" name="login" type="text" placeholder="Логин"/>
                    </div>
                    <div class="form_line">
                        <input class="input" name="password" type="password" placeholder="Пароль"/>
                    </div>
                    <div class="form__redirect">
                        <a href="signup.html">У вас нет аккаунта? Регистрация</a>
                    </div>
                    <button type="submit" class="btn">Авторизоваться</button>
                </form>
            </div>
        </main>


    </body>

</html>
