.box-content {
    background: #ffffff8a;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    width: min-content;
    height: max-content;
    border-radius: 20px;
    box-shadow: 1px 1px 70px 0px rgb(50 50 50 / 40%);
    min-width: 450px;
    max-width: 1000px;
    position: absolute;
    margin: auto auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.content {
    display: grid;
}

.header {
    display: flex;
}

.header-title {
    flex: 1 0 auto;
    padding: 10px;
}