.box-content {
	background: #ffffff8a;
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(7px);
	width: max-content;
	height: max-content;
	margin: 0 auto;
	top: 70px;
	position: relative;
	border-radius: 20px;
	box-shadow: 1px 1px 70px 0px rgb(50 50 50 / 40%);
}

.content {
	display: grid;
}

.header {
	display: flex;
}

.header-title {
	flex: 1 0 auto;
	padding: 10px;
}