html,
body {
    font-family: serif;
}

body {
    margin: 20px auto;
}

.css-2 {
    background: #c0c0c0;
}

.css-3 {
    background: yellow;
}

.css-4 {
    background: orange;
}

.css-5 {
    background: red;
}

.active {
    border: 2px solid black;
}