body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

#canvas_static {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.game_over {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

.game_over_main {
    position: relative;
    border-radius: 20px;
    padding: 110px 100px 100px;
    overflow: hidden;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
}

.game_over_main:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(20px) saturate(100%) contrast(150%);
}

img.img_smile {
    margin-bottom: 60px;
}

img.img_game_over {
    margin-bottom: 90px;
    width: 400px;
}

button.game_restar {
    border: 10px solid var(--orange);
    border-radius: 5px;
    color: var(--orange);
    font-size: 40px;
    font-weight: 600;
    padding: 0 35px;
    margin: 20px 0;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

button.game_exit {
    color: var(--orange);
    font-size: 32px;
    border: none;
    padding: 0 26px;
    line-height: 56px;
    position: absolute;
    top: -6px;
    right: 14px;
    background: none;
}

button.game_restar:hover {
    border-color: var(--orangeHover);
    color: var(--orangeHover);
}

.hidden {
    visibility: hidden;
}