.table-loaderboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    max-height: 500px;
    overflow: auto;
    width: 100%;
}

.table-loaderboard::-webkit-scrollbar {
    width: 0.5em;
}

.table-loaderboard::-webkit-scrollbar-track {
    margin-bottom: 20px;
}

.table-loaderboard::-webkit-scrollbar-thumb {
    background-color: #ffffffa8;
}

.table-leaderboard-item {
    display: grid;
    grid-template-columns: auto 1fr 1.5fr 1.5fr;
    margin: 15px 20px;
    align-items: center;
    grid-column-gap: 10px;
}

.leaderboard-item-topics-count {
    display: flex;
    border-radius: 10px;
    border: 1px solid #000;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin-right: 20px;
    padding: 10px;
}

.leaderboard-item-answers {
    display: flex;
    border-radius: 10px;
    border: 1px solid #000;
    align-items: center;
    justify-items: center;
    padding: 10px;
}

.item-img {
    height: 53px;
}

.item-img2 {
    height: 53px;
    /*background: url('../../assets/img/Angels2.png') no-repeat;*/
    background-size: contain;
}

.item-img3 {
    height: 53px;
    /*background: url('../../assets/img/Angels3.png') no-repeat;*/
    background-size: contain;
}

.leaderboard-item-topics-icon {
    cursor: pointer;
}

.leaderboard-item-topics {
    display: flex;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    background: #fff;
}

.empty__list {
    margin: 30px auto;
}