@keyframes loding {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
  }

.loding-box {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loding div {
    animation: loding 1s linear infinite;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 0 0 #b8d220;
    transform-origin: 80px 82px;
  }
