@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

:root {
    --main-font-family: "Play";

    --button-color: #b8d220;
    --textInput-color: #292929;
    --titleButton-color: #292929;
    --text-color: #000000;
    --text-color-error: red;
    --text-color-light: #f3f3f3;
    --link-color: #4791ff;
    --border-input-color: #a0a0a0;
    --orange: #DC862F;
    --orangeHover: #f7760e;

    --font-size-titlePage: 48px;
    --font-size-md: 24px;

    --font-size-xl: 200px;
    --font-size-lg: 144px;
    --font-size-md: 48px;
    --font-size-sm: 36px;
    --font-size-xs: 24px;
    --font-size-xxs: 16px;
}

* {
    margin: 0;
}

body {
    background-color: #f0db69;
}

a {
    text-decoration: none;
    display: inline-block;
    color: black;
}

.main-font-family {
    font-family: var(--main-font-family);
}

.title-page {
    font-size: var(--font-size-sm);
    font-family: var(--main-font-family);
    text-align: center;
    font-weight: bolder;
}

.InputPlaceholder {
    font-size: var(--font-size-xs);
    font-family: var(--main-font-family);
}

.btn {
    display: block;
    width: 60%;
    height: 50px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 28px;
    border-radius: 10px;
    font-size: var(--font-size-xs);
    font-family: var(--main-font-family);
    background: var(--button-color);
    border: 1px solid #81911f;
    text-decoration: none;
    color: var(--text-color);
    line-height: 46px;
    user-select: none;
}

.btn-back {
    flex: 0 0 auto;
    cursor: pointer;
    position: absolute;
}

.btn-back-icon {
    transform: rotate(180deg);
    background: #fff;
    padding: 10px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}

.btn-back {
    flex: 0 0 auto;
}

.input {
    border-color: var(--border-input-color);
    font-size: 16px;
    margin: 0px 0px 20px 0px;
    border-radius: 5px;
    padding: 10px;
    font-family: var(--main-font-family);
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #A0A0A0;
    background: none;
}

/* .canvas {
width: 100vw;
height: 100vh;
background-size: cover;
position: fixed;
z-index: -1;
} */

.fullwidth {
    width: 100%;
}

.error-input {
    border: 1px solid red;
}

.error-msg {
    font-size: 12px;
    color: red;
    position: relative;
    top: -10px;
    padding-left: 10px;
}

.input-block__error {
    display: block;
    text-align: center;
    font-size: 12px;
    color: var(--text-color-error);
    margin-top: -16px;
    margin-bottom: 10px;
}

.app {
    display: flex;
    height: 100vh;
}